.data{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    justify-content: space-between;
}
.main h1{
    color: #0d68c9;
    font-weight: bolder;
    font-size: xx-large;
}
.animate-image {
    animation: slideInFromTopScale 2s ease-in-out forwards;
}

@keyframes slideInFromTopScale {
    0% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: translateY(0) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.data-4 {
    max-width: 90%;
    font-size: 20px;
}

.data-1{
    border-radius: 30px;
    height: 360px;
}

.data-1 img{
    width: 100%;
    height: 63%;
}
.data-2{
     border: 1px solid black;
     width: 100%;
     margin: auto;
     border-radius: 30px;
     background-color: #0d68c9;
     color: white;
}

.data-3{
    font-size: 42px;
    max-width: 60%;
    font-weight: 700;
}

.play-button {
    width: 50px; /* Adjust button size as needed */
    height: 50px;
}



.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.start-0 {
    left: 0;
}

.translate-middle {
    transform: translate(-50%, -50%);
}

.light-blue{
    color: #0d68c9;
}

.history{
    width: 100%;
    border-radius: 20px;
    background-color: #0d68c9;
    color: white;
    margin: auto;
    padding: 40px;
    height: auto;
}

.data-6 {
    background-color: #0d68c9;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 50px;
    gap: 5px; /* Added to manage space between items */
    border-radius: 26px;
    flex-wrap: wrap;
  }


  .img-data img{
     width: 80px;
     height: 80px;
     margin: auto;
  }

  .data-5 {
    background: #f8f9fa;
    /* border: 1px solid #dee2e6; */
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; /* Modified to ensure equal spacing */
    height: 25vh;
    margin: 2px;
    padding: 35px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
   
  }
  
  .data-5:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .data-5 img {
    width: 85%;
    height: 60px;
  }
  
  .data-5 p {
    font-size: 12px;
    margin: auto;
    font-weight: 600;

  }

  .data-7{
    width: 18%;
    height: 10%;
  }
  
  .main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex: 1;
  padding: 0 10px;
  position: relative;
}

.separator {
  display: none;
}

@media (min-width: 768px) {
  .separator {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    font-size: 24px;
    color: #000;
  }
}

.animated-text {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
  .row {
    flex-direction: column;
  }

  .col {
    padding: 10px 0;
  }

  .separator {
    display: none;
  }
}

.history-1{
   font-size: 23px;
   max-width: 80%;
}

.history-2{
  /* style={{fontSize:'18px'} */
   font-size: 17px;
   font-weight: 400;
   max-width: 70%;
}
@media (max-width: 900px) {
    .history-1,.data-3,.data-4,.history-2,.data-2{
      max-width: 100%;
    }
    .data-6{
     flex-direction: column !important;
    }
    .data-5{
      width: 30%;
      margin: auto;
    }
      
}
@media (max-width: 500px) {
  .data-5{
    width: 50%;
    margin: auto;
  }
    
}







  

